<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>States</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <form>
    <form action="/" method="GET" class="form-inline">
    <div class="form-group">
      <input type="text" name="search" placeholder="State Search" class="form-control"/>
      <input type="submit" value="Search" class="btn btn-default"/>
    </div>
  </form>
  <body>
    <!-- testing -->
    <div>
      <% if (noSearchMatch !== undefined) { %>
        <h1> <%=noSearchMatch%> </h1>
      <% } else { %>
        <h1 style="font-size: 45px">States</h1>
      <% } %>
    </div>
    <!-- ///////////////////// -->
    <% for (let i=0; i < states.length; i++) { %>
    <a href="/<%=states[i].state;%>"><%=states[i].state;%></a>
    <img class="state-flag-image" src="<%=states[i].image%>" />
    <% } %>
  </body>
</html>

<!-- graveyard -->

<!-- <a href="/<%#=trails[i]._id;%>"><%#=trails[i].state;%></a> -->
