<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>state</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action="/<%=state%>/" method="POST">
      Name of Trail:
      <input placeholder="Name of Trail" type="text" name="name" required />
      <br />
      State:
      <input type="text" name="state" value="<%=state%>" readonly />
      <br />
      City:
      <input placeholder="City" type="text" name="city" required />
      <br />
      <!-- keep and eye on Decimal128 -->
      Miles:
      <input
        placeholder="Length of trail in miles"
        type="number"
        step="0.01"
        min="0"
        name="miles"
        required
      />
      <br />
      Description of Trail:
      <input
        placeholder="Description of trail"
        type="text"
        name="description"
      />
      <br />
      Image of Trail:
      <input
        type="text"
        name="image"
        required
        value="https://www.unfe.org/wp-content/uploads/2019/04/SM-placeholder.png"
      />
      <br />
      <input type="submit" value="Add New Trail" />
    </form>
  </body>
</html>
